{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col text-center">
                    <h3>
                        Загрузка информации из файла
                    </h3>
                    <p>
                        Загрузите фаил с информацией
                    </p>
                    <hr>
                    <form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
                        <div class="text-center">
                            {{ form.as_p }}
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Загрузить фаил
                        </button>
                    </form>
            </div>
        </div>
    </div>

        
{% endblock %}